<app-header [titulo]="alert"></app-header>
<ion-content class="ion-padding">
  <ion-button (click)="presentAlert()" expand="block">Mostrar alert A</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">Mostrar alert B</ion-button>
  <ion-button (click)="presentAlertConfirm()" expand="block">Mostrar alert C</ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block">Mostrar alert D</ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block">Mostrar alert E</ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block">Mostrar alert F</ion-button>
</ion-content>
