<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon name="send" slot="icon-only">

        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of dataService.datos" (click)="abrirRegistro(item)" detail>
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      <label>
       <h3>{{item.text}}</h3>
        <p>{{item.created | date: 'medium'}}</p>
      </label>
    </ion-item>
  </ion-list>
</ion-content>
