<ion-header>
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" [(ngModel)]="segment" (ionChange)="obtenerCategoria($event)">
    <ion-segment-button mode="md" [value]="item" *ngFor="let item of category">
      <ion-label>
        {{item}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [fullscreen]="true">
  <app-noticias [articles]="articulos" [blnFavoritos]="1"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
